#homepage-text {
    display: flex;
    flex-direction: column;
    width: auto;
    align-self: center;
    font-size: 1.5rem;
}

#homepage-text ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}