* {
    background-color: rgb(30, 31, 41);
}

.navbar-container {
    min-height: 25px;
    display: flex;
    justify-content: left;
}

.navbar-link {
    margin: 10px;
    margin-left: 20px;
    color: blueviolet;
}

#main-container {
    color: rgb(32, 170, 235);
}

#products-page-title {
    color: rgb(255, 255, 255);
    justify-self: center;
}

#dashboard-page-title {
    color: white;
    justify-self: center;
}

#dashboard-container {
    display: grid;
}

#dashboard-filter-container {
    display: flex;
    color: white;
    justify-content: center;
}

.dashboard-dropdown {
    color: white;
    justify-items: center;
    margin: 10px;
}

#total-words-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: blueviolet;
}

.table-layout-container {
    display: flex;
    margin: 10px;
}

#click-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
}

.click-filter-button {
    color: white;
    font-size: 1rem;
    background-color: rgb(211, 82, 35);
    border-radius: 6px;
    box-shadow: 0px 0 2px 1px rgb(0, 0, 0);
    margin: 5px;
}

.table-container {
    margin: 5px;
    color: white;
    justify-items: center;
    max-width: 75%;
}

#product-table {
    border-collapse: separate; /* Required for box-shadow on rows */
    border-spacing: 0 10px;    /* Adds vertical "breathing room" between rows */
}

#product-table tbody tr td {
    background-color: hsl(263, 33%, 37%);    /* Needs a background for the glow to show */
    padding: 15px;
    
    /* The "Soft Glow" */
    box-shadow: 0 0 8px hsl(276, 33%, 36%); 
    
    /* Optional: Remove side shadows to make it look like one continuous row */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* Rounded corners for the "glowy" row effect */
#product-table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
#product-table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

#product-table-head {
    position: sticky;
    top: 31px;
}

.table-data {
    padding: 10px;
    margin: 10px;
}

.table-filter {
    color: white;
    font-size: 1rem;
}

.table-row {
    color: white;
    margin-right: 10px;
}

.table-row:hover {
    color: coral;
}

td {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid blueviolet;
}

.table-detail-container {
    width: 100%;
    color: white;
    box-sizing: border-box;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 3px 0 8px 2px black;
    border-radius: 8px;
    min-height: 400px;
    max-height: fit-content;
    position: sticky;
    top: 20px;
    overflow: auto;
    
}

h2 {
    overflow-wrap: break-word;
}

.detail-link {
    color: blueviolet;
}

