* {
    background-color: rgb(30, 31, 41);
}

#main-container {
    color: rgb(32, 170, 235);
}

h1 {
    color: rgb(32, 170, 235);
}

.table-layout-container {
    display: flex;
    margin: 40px;
}

.table-container {
    margin: 20px;
    color: white;
}

.table-detail-container {
    color: white;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 0 5px 2px #64737c;
    border-radius: 8px;
}

#detail-crowdin-link {
    color: rgb(106, 168, 209);
}

.table-data {
    padding: 10px;
    color: rgb(20, 245, 215);
}

.table-filter {
    color: white;
    font-size: 1rem;
}