* {
    background-color: rgb(30, 31, 41);
}

#main-container {
    color: rgb(32, 170, 235);
}

h1 {
    color: rgb(32, 170, 235);
}

.table-layout-container {
    display: flex;
    margin: 40px;
}

.table-container {
    margin: 20px;
}

.table-detail-container {
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 0 5px 5px #417a7a;
    border-radius: 8px;
}

#detail-crowdin-link {
    color: rgb(119, 0, 255);
}

.table-data {
    padding: 10px;
    color: rgb(20, 245, 215);
    box-shadow: 0 0 1px 1px #417a7a;
}

#main-dropdown {
    background-color: rgb(37, 89, 150);
    color: white;
    border: 2px solid black;
    padding: 2px;
    margin: 5px;
}

#main-search {
    color: white;
    background-color: rgb(37, 89, 150);
    border: 2px solid black;
    padding: 2px;
    margin: 5px;
}

#search-div {
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 0 5px 5px #417a7a;
    border-radius: 8px;
}