* {
    background-color: rgb(30, 31, 41);
}

#main-container {
    color: rgb(32, 170, 235);
}

#products-page-title {
    color: rgb(255, 255, 255);
    justify-self: center;
}

.table-layout-container {
    display: flex;
    margin: 40px;
}

.table-container {
    margin: 20px;
    color: white;
}

.table-detail-container {
    color: white;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 3px 0 8px 2px #000000;
    border-radius: 8px;
}

#detail-crowdin-link {
    color: rgb(106, 168, 209);
}

.table-data {
    padding: 10px;
    color: rgb(20, 245, 215);
}

.table-filter {
    color: white;
    font-size: 1rem;
}