* {
    background-color: rgb(30, 31, 41);
}

.navbar-container {
    min-height: 25px;
    display: flex;
    justify-content: left;
}

.navbar-link {
    margin: 10px;
    margin-left: 20px;
    color: blueviolet;
}

#main-container {
    color: rgb(32, 170, 235);
}

#products-page-title {
    color: rgb(255, 255, 255);
    justify-self: center;
}

#dashboard-page-title {
    color: white;
    justify-self: center;
}

#dashboard-container {
    display: grid;
}

.table-layout-container {
    display: flex;
    margin: 40px;
}

#click-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
}

.click-filter-button {
    color: white;
    background-color: rgb(211, 82, 35);
    border-radius: 6px;
    box-shadow: 0px 0 2px 1px rgb(0, 0, 0);
    margin: 5px;
}

.table-container {
    margin: 20px;
    color: white;
}

#product-table-head {
    position: sticky;
    top: 31px;
}


.table-data {
    padding: 10px;
    margin: 10px;
}

.table-filter {
    color: white;
    font-size: 1rem;
}

.table-row {
    color: white;
    margin-right: 10px;
}

.table-row:hover {
    color: coral;
}

.table-detail-container {
    color: white;
    box-sizing: border-box;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 3px 0 8px 2px black;
    border-radius: 8px;
    min-height: 400px;
    max-height: fit-content;
    max-width: 100%;
    position: sticky;
    top: 20px;
    overflow: auto;
    
}

h2 {
    overflow-wrap: break-word;
}

#detail-crowdin-link {
    color: rgb(106, 168, 209);
}

