#delete-button-div {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#delete-button-div button {
    color: white;
    background-color: hsl(0, 54%, 46%);
    border: none;
    border-radius: 6px;
    min-height: 25px;
}

#delete-button-div button:hover {
     background-color: hsl(0, 61%, 52%);
     cursor: pointer;
}